.stats {
  margin-top: 20px;
  &__original {
    margin-top: 20px;
    padding: 16px;
    background: #FAFAFA;
    border-radius: 4px;
    p {
      color: rgba(0,0,0,0.5);
    }
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        padding: 8px 12px;
        border-radius: 4px;
        background: rgba(256,256,256,0.8);
      }
    }
    &-reserve {
      height: 50px;
      display: flex;
      align-items: center;
      img {
        height: 100%;
      }
      span {
        font-weight: bold;
        opacity: 0.6;
      }
    }
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      margin: 0;
    }
  }
  &__charts-head {
    display: flex;
    align-items: center;
    h1 {
      font-size: 72px;
      line-height: 1.1;
    }
    div {
      font-size: 50px;
      padding: 8px;
      border-radius: 50%;
      height: 90px;
      width: 100px;
      background: #3277DC;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__ranking {
    cursor: pointer;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0px 4px 5px rgba(219, 219, 219, 0.2);
    transition: box-shadow 0.3s ease-out;
    &:hover {
      box-shadow: 0px 4px 5px rgba(219, 219, 219, 1);
    }
  }
  &__ranking-item {
    display: grid;
    align-items: center;
    margin-bottom: 6px;
    grid-template-columns: 10% 20% 70%;
    p {
      margin: 0;
      font-size: 18px;
    }
    .stats-tags {
      padding: 12px;
      background: #fafafa;
      border-radius: 4px;
      text-align: right;
    }
  }
  &__ranking-logo {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF9E8;
    border-radius: 4px;
    margin-right: 12px;
  }
}
